body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background-color: #eaeaea !important;
}

.masthead {
  display: flex;
  align-items: center;
  background-color: #d6d8d4 !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}